<md-content>
    <form ng-submit="$event.preventDefault()">

        <md-autocomplete md-selected-item="search.selectedItem"
                         md-search-text-change="search.searchTextChange(search.searchText)"
                         md-search-text="search.searchText"
                         md-selected-item-change="search.selectedItemChange(item)"
                         md-items="item in search.querySearch(search.searchText)"
                         md-item-text="item.display"
                         md-min-length="0"
                         placeholder="Search food">

            <md-item-template>
                <span md-highlight-text="search.searchText" md-highlight-flags="^i">{{item.display}}</span>
            </md-item-template>

            <md-not-found>
                No food "{{search.searchText}}" were found.
            </md-not-found>

        </md-autocomplete>

    </form>
</md-content>
